<div class="row site-info">
    </p>&copy; 2016 - CEasy.nl</p>
    <h6 class="h6">
        Website: WebniX
        <span class="sep"> | </span>
        Design: Nisarg door <a href="http://www.falgunidesai.com/" rel="nofollow" target="_blank">Falguni Desai</a>.
    </h6>
</div>